<div class="modal fade" id="show_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <!-- Modal Header Start -->
      <div class="modal-header">
        <h3 class="modal-title"><%= candidature.user.first_name %> <%= candidature.user.last_name %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <!-- Modal Body Start -->
        <p></p>
        <!-- Modal Footer Start -->
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><span class="fa-solid fa-xmark"></span> Cancel</button>
        </div>
    </div>
  </div>
</div>
