<aside class="sidebar">
<div>
    <%= link_to root_path do %>
    <div class="text-center">

      <%= image_tag "logo_v2.png", alt: "logo", class: "w-75 justify-content-center" %>
    </div>
    <% end %>
</div>
  <ul class="sidebar-nav mt-5">
    <li class="sidebar-item">
      <a class="sidebar-link active" href="dashboard.html">
        Dashboard
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="profile.html">
        Offre d'emplois
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="messages.html">
        Entretiens
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="settings.html">
        Candidatures
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="settings.html">
        Entreprises
      </a>
    </li>
  </ul>
</aside>
