<aside class="sidenav">
  <ul class="navbar-nav">
    <!-- Section 1 -->
    <li class="nav-item">
      <span>Section 1</span>
    </li>
    <li>
      <a class="nav-link  active" href="#">
        <i class="ni ni-shop"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ni ni-single-02"></i>
        <span>Profile</span>
      </a>
    </li>

    <!-- Section 2 -->
    <li>
      <span>Section 2</span>
    </li>
    <li>
      <a href="#">
        <i class="ni ni-settings"></i>
        <span>Settings</span>
      </a>
    </li>

    <!-- Section 3 -->
    <li>
      <span>Section 3</span>
    </li>
    <!-- Ajoutez d'autres liens de navigation ici pour la Section 3 -->
  </ul>
</aside>
