<aside class="sidebar">
  <div>
    <%= link_to root_path do %>
      <div class="text-center">
        <%= image_tag "logo_v2.png", alt: "logo", class: "w-75 justify-content-center" %>
      </div>
    <% end %>
  </div>
  <ul class="sidebar-nav mt-5">
    <li class="sidebar-item">
      <%= link_to "Dashboard", root_path, class: "sidebar-link#{' active' if current_page?(root_path)}" %>
    </li>
    <li class="sidebar-item">
      <%= link_to "Offre d'emplois", job_offers_path, class: "sidebar-link#{' active' if current_page?(job_offers_path)}" %>
    </li>
  </ul>
</aside>
