<div class="container" data-controller="index-search">
  <div class="row">
    <div class="col-sm-10 my-3">
      <%= form_with url: job_offers_path, method: :get, html: { data: {index_search_target: "form"}}, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Cherchez votre offre d'emploi...",
              data: {
                index_search_target: "input",
                action: "keyup->index-search#update"
              },
              class: "form-control"
            %>
    </div>
    <div class="col-sm-2 my-3 text-end">
          <%= submit_tag "Recherche", class: "btn btn-primary search-btn", id: "color-white" %>
      <% end %>
    </div>
  </div>
  <div class="card border rounded-4 mt-4">
    <h5 class="card-header">Liste des offres d'emplois</h5>
  <%= render "job_offers/list" %>
  </div>
</div>
