<h2 class="text-center mb-4">Ajouter une nouvelle offre</h2>
<%= render 'form', job_offer: @job_offer %>

<br>

<div>
  <%= link_to "Revenir à vos offres",  company_job_offers_path(@company), class: "btn btn-light" %>

</div>
