<h2 class="text-center mb-4">Ajouter une nouvelle offre</h2>
<%= render 'form', job_offer: @job_offer %>

<br>

<div>
  <%= link_to "Revenir à vos offres",  job_offers_path, class: "pokemon-btn btn btn-light" %>

</div>
