.rounded-modal .modal-content {
  border-radius: 15px; /* Vous pouvez ajuster la valeur pour changer le degré de l'arrondi */
}

.modal-header {
  .avatar {
    margin-right: 20px;
  }
}

.modal-body {
  a {
    color: #cb0c9f;
    text-decoration: none;

    &:hover {
      color: #830866;
    }
  }
}
